{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>Protein Search</title>
        <link rel="stylesheet" type="text/css" href="{% static "/main.css" %}" />
    <style> 
    input[type=button], input[type=submit], input[type=reset] {
        background-color: #0066A2;
        border: none;
        color: white;
        padding: 10px 24px;
        text-decoration: none;
        margin: 4px 2px;
        font: bold 15px arial, sans-serif;
        cursor: pointer;
        border: 2px solid #a9a9a9;
        }
    </style>
    </head>   
    <body>
        <div id="header">
            <h1>Protein Search</h1>
                <p>A customized protein search tool made by LYZ Group.</p>
        </div>
        <div class="frame">
            <form method="get">
                {% csrf_token %}
                <table class="form">
                {{ form }}
                </table>
                <input type="submit" value="Submit">
            </form>
        </div>

        {% if args %}
        <div class="args">
            <pre>{{ args }}</pre>
        </div>
        {% endif %}

        {% if err %}
        <div class="error">
            {{ err|safe }}
        </div>
        {% endif %}
        <div class="frame">
            {% if result != None %}
            <div class="results">
                <table class="courses">
                    <tr>
                        {% for col in columns %}
                        <th>{{ col }}</th>

                        {% endfor %}
                    </tr>
                    {% for entry in result %}
                    <h1> {{ entry.1 }} </h1>
                    <img src=/static/{{ entry.0 }} alt="image not found">
                    {% endfor %}
                </table>
            </div>
            <p>Click on the download button to download FASTA file<p>
            <a src="/static/fasta.txt" download>
                <input src="/static/fasta.txt" alt="The results will show up after you enter research value" type="submit" value="Submit">
            </a>
            <p class="num_results">Results: {{ num_results }}</p>

            {% endif %}
        </div>
        

    </body>
</html>
